<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
    Result is {{result}}

  <p>Enter an array of integers seperated by newline character in the first box</p>
  <p>Enter an integer in the second and third box</p>
  <p>The program will return the index of (input2*input3)</p>
  <p>If it is not found it will return -1</p>


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
        <textarea name="input3" rows="10" cols="30">
        </textarea>
        <br>
        <input type="submit">
  </form>